
{cover_enabled, true}.


{erl_opts, [
	debug_info, warnings_as_errors, {parse_transform, lager_transform}
]}.

{erl_first_files, ["src/nklib_parse_trans_vsn"]}.


% {edoc_opts, [{dir, "../../doc"}]}.

{deps, [
	{lager, "3.2.4"},
    jsone,
    yamerl,
    eper,
    recon,
    meck,
    enotify,
    mimerl,
    rfc3339,
    parsexml

    %% Candidates
    %% edown
    %% https://github.com/project-fifo/qdate
]}.

{overrides,
    [
        {override, eper, [{erl_opts, [debug_info]}]},
        {override, jsone, [{erl_opts, [{d, 'ENABLE_HIPE'}, inline]}]}
    ]}.


{plugins, [pc]}.
% {plugins, [{rebar3_auto, {git, "https://github.com/vans163/rebar3_auto.git", {branch, "master"}}}]}.

{pre_hooks, [{compile, "make version_header"}]}.


%% xref checks to run
{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.

