
{cover_enabled, true}.


{erl_opts, [
	debug_info, warnings_as_errors, {parse_transform, lager_transform}
]}.

% {edoc_opts, [{dir, "../../doc"}]}.

{deps, [
	{lager, "3.2.4"},
    {jsx, "2.8.2"},
    %% Comment out jiffy to use only native (jsx)
    {jiffy, "0.14.11"},
    eper,
    recon,
    meck,
    enotify
    %% Candidates
    %% edown
    %% https://github.com/basho/jam
    %% https://github.com/project-fifo/qdate
]}.


{plugins, [pc]}.
% {plugins, [{rebar3_auto, {git, "https://github.com/vans163/rebar3_auto.git", {branch, "master"}}}]}.

{pre_hooks, [{compile, "make version_header"}]}.


%% xref checks to run
{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.

