{cover_enabled, true}.

{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.7"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.9.0"}}},
    %% Jiffy can be commented out, and Jsx will be used automatically:
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.15.2"}}},
    {eper, ".*", {git, "https://github.com/massemanet/eper.git", {tag, "0.99.1"}}},
    {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.12"}}}

]}.
